body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.new-color{
    color: #bc1823;
}
.flexible-container{
    display: flex;
    margin-bottom: 0px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 80%;
}
.hire-button{
    text-decoration: none;
    background-color: #bc1823;
    padding: 10px 40px;
    color: #efefef;
    font-weight: 700px;
    border-radius: 25px;
}
.top-banner{
    background-image: url(images/back-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.download-button{
    text-decoration: none;
    background-color: #bc1823;
    padding: 10px 40px;
    color: #efefef;
    font-weight: 700px;
    border-radius: 25px;
}
.about-me{
    background-image: url(images/secback.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}